@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Unbounded', cursive;
}

html,
body {
  min-height: 100vh;
  background-repeat: repeat;

  background-image: radial-gradient(
      at 77% 27%,
      hsla(231, 88%, 92%, 0.4) 0px,
      transparent 100%
    ),
    url("noise.svg");
}




::selection {
  color: white;
  background: #0C26CD;
}



